@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;800&display=swap);
/* defining brand variables */
:root {
  --rose: #996a6a;
  --rose-dust: #d6baba;
  --powder: #f5f0f0;
  --white: #ffffff; 
  --black: #000000;
}

body {
	width:100%;
	margin: auto;
}

a {
	color: var(--rose);
	font-weight: bold;
	text-decoration: none;
}

img {
	max-width: 100%;
}

.content {
	width: 90%;
	margin: auto;
}

.powder-bg {
	background-color: var(--powder);
}

.button-dark {
	background-color: var(--rose);
	color: white;
	padding: 10px 15px;
	border-radius: 12px;
	display: block;
	font-family: 'Raleway', sans-serif;
	font-weight:  700;
	font-size:  13px;
	line-height: 18px;
	text-transform: capitalize;
}

.button-light {
	border: 1px solid var(--rose-dust);
	color: black;
	padding: 10px 15px;
	border-radius: 12px;
	display: block;
	font-family: 'Raleway', sans-serif;
	font-weight:  700;
	font-size:  13px;
	line-height: 18px;
	text-transform: capitalize;
}

a.button-dark {
	margin: auto;
}

.divider {
	color: var(--rose-dust);
	width: 1px;
}

/* Typography */
h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 34px;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 26px;
	margin-top: ;
}

h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 12px;
	letter-spacing: 1px;
}

p, label, ul, li, span, div {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
}

p.bold {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 10px;
	line-height: 18px;
}

header {
	background-color: var(--rose);
	color:  white;
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 20px;
}

#site-header a {
	text-decoration: none;
	color:  white;
	font-weight: normal;
}

.header ul, footer ul, .skirt-nav ul {
	list-style: none;
}

.result-row {
    background-color: var(--white);
    padding: 15px;
}

.result-row:nth-child(even){
     background-color: var(--powder);
}

nav {
	display: block;
}

nav ul {
	margin-left: -50vw;
	margin-right: -50vw;
	left: 50%;
	right: 50%;
	max-width: 100vw;
	position: relative;
	width: 100vw;
}

nav a, .skirt-nav a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

.header ul li, footer ul li, .skirt-nav ul li {
	display:  inline-block;
	margin: auto 10px;
}

.skirt-nav {
	background-color: var(--rose);
	color:  white;
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}

footer {
	background-color:  var(--powder);
	padding-bottom: 15px;
}

.callout-box-rose {
	background-color: var(--powder);
	padding: 5%;
	text-align:  center;
}

.callout-box-rose a {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
}

.callout-box-white {
	border: 1px solid var(--rose-dust);
	text-align: center;
}

.callout-box-white h3 {
	color: var(--rose);
}

.life-dates {
	color: var(--rose);
	margin-top: 10px;
	font-size: 20px;
}

.one-quarter {
	width: 22%;
	display: inline-block;
}

.one-half {
	width: 47%;
	display: inline-block;
}

.three-quarters {
	width: 73%;
	display: inline-block;
}

.one-third {
	width: 31%;
	display: inline-block;
}

.two-thirds {
	width: 64%;
	display: inline-block;
}

.full-width {
	left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: 100vw;
	position: relative;
	right: 50%;
	width: 100vw;
}

.full-width-wrap {
	width: 70%;
	margin:  auto;
}

.left {
	float: left;
}

.right {
	float: right;
}

.profile-image {
	border-radius:  50%;
}

img.one-third {
	padding: 2% 1%;
}

#site-header {
	display: inline-block;
	font-size: 20px;
	margin-left: 10px;
}

.museum-address {
	padding-left: 15%;
	padding-right: 15%;
}

.artwork {
	border-left: 3px solid var(--rose);
	padding: 0 10px;
	margin: 10px 0;
}

.artwork img {
	/*padding-top: 10px;*/
	max-width: 100%;
}

.bibliography {
	width: 100%;
	display: inline-block;
	word-wrap: break-word;
}


#site-header-logo-cond {
		filter: invert(100%) sepia(4%) saturate(634%) hue-rotate(234deg) brightness(113%) contrast(100%);
		width: 20px;
		height: 20px;
		display: inline-block;
		margin: -3px;
}


	.home-hero {
		background-image: url('/space-of-their-own/img/hero.jpg');
		background-position: center;
		left: 50%;
		margin-left: -50vw;
		margin-right: -50vw;
		max-width: 100vw;
		position: relative;
		right: 50%;
		width: 100vw;
		height: 500px;
		padding-bottom: 20px;
	}

	.about-hero {
		background-color: var(--rose);
		background-position: center;
		left: 50%;
		margin-left: -50vw;
		margin-right: -50vw;
		max-width: 100vw;
		position: relative;
		right: 50%;
		width: 100vw;
		height: 500px;
		padding-bottom: 20px;
	}

	.hero-text-wrap {
		width: 100%;
		left: 50%;
		right: 50%;
	}

	.hero-text-wrap p {
		text-align: center;
		color: white;
		font-size: 4vw;
		margin: 0;
		padding: 175px;
		line-height: initial;
	}

	.small-hero-text {
		font-size: 1.5vw !important;
		padding-top: 20px !important;
		padding-bottom: 20px !important;
		line-height: initial;
	}

	/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: var(--rose);
  color: var(--white);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: var(--rose-dust);
  color: var(--black);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: var(--powder);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
	
/********************** Mobile first queries ************************/

/* Larger than mobile */
@media (min-width: 400px) {
	.content h1 {
		margin-bottom: 5px;
	}

	.content h2 {
		margin-top: 32px;
		margin-bottom: 15px;
	}

	.content {
		width: 90%;
		margin: auto;
	}

	.featured-artwork {
		width: 100%;
		display: inline-block;
		vertical-align: top;
		padding:15px;
		background-color: var(--powder);
		padding: 5px;
	}

	.spacer {
		width: 100%;
		display: inline-block;
	}

	.search-alphabetic-header {
		border-bottom: 2px solid var(--rose);
	}

	.search-alphabetic-header h3 {
		text-transform: capitalize;
		font-size: 24px;
		color: var(--rose);
		margin-bottom: 5px;
	}

	.search-results {
		font-size: 14px;
	}

	.search-results a {
		color: var(--rose);
		text-decoration: none;
		font-weight: bold;
	}

	/* Timeline */
	.timeline {
	  border-left: 4px solid var(--rose);
	  position: relative;
	  line-height: 1.4em;
	  padding: 50px;
	  list-style: none;
	  text-align: left;
	}
	.timeline .event {
	  padding-bottom: 25px;
	  margin-bottom: 25px;
	  position: relative;
	}
	.timeline .event:last-of-type {
	  padding-bottom: 0;
	  margin-bottom: 0;
	  border: none;
	}
	.timeline .event:before,
	.timeline .event:after {
	  position: absolute;
	  display: block;
	  top: 0;
	}
	.timeline .event:before {
	  top: -30px;
	  content: attr(data-date);
	  text-align: left;
	  font-weight: bold;
	  min-width: 120px;
	}
	.timeline .event:after {
	  box-shadow: 0 0 0 4px var(--rose);
	  left: -57.85px;
	  background: var(--rose);
	  border-radius: 50%;
	  height: 11px;
	  width: 11px;
	  content: "";
	  top: 5px;
	}

	.artwork a {
		text-decoration: none;
		font-weight: bold;
		color: var(--rose);
	}

	#essay-body {
		
	}

	#essay-body sup, #essay-body sup a {
		text-decoration: none;
		font-weight: bold;
		color: var(--rose);
	}

	#site-header-logo-cond {
		filter: invert(100%) sepia(4%) saturate(634%) hue-rotate(234deg) brightness(113%) contrast(100%);
		width: 20px;
		height: 20px;
		display: inline-block;
		margin: -3px;
	}
}

/* Larger than phablet */
@media (min-width: 550px) {
	#site-header-logo-cond {
		filter: invert(100%) sepia(4%) saturate(634%) hue-rotate(234deg) brightness(113%) contrast(100%);
		width: 20px;
		height: 20px;
		display: inline-block;
		margin: -3px;
	}
}

/* Larger than tablet */
@media (min-width: 750px) {
	
	.content {
		width: 70%;
		margin:  auto;
	}

	#site-header-logo-cond {
		filter: invert(100%) sepia(4%) saturate(634%) hue-rotate(234deg) brightness(113%) contrast(100%);
		width: 20px;
		height: 20px;
		display: inline-block;
		margin: -3px;
	}

	nav {
		display: inline !important;
	}

	nav ul {
		margin-left: initial;
		margin-right: initial;
		left: initial;
		right: initial;
		max-width: initial;
		position: initial;
		width: auto;
		display: inline-block;
		float: right;
	}

	.home-hero {
		background-image: url('/space-of-their-own/img/hero.jpg');
		background-position: center;
		left: 50%;
		margin-left: -50vw;
		margin-right: -50vw;
		max-width: 100vw;
		position: relative;
		right: 50%;
		width: 100vw;
		height: 500px;
		padding-bottom: 20px;
	}

	.about-hero {
		background-color: var(--rose);
		background-position: center;
		left: 50%;
		margin-left: -50vw;
		margin-right: -50vw;
		max-width: 100vw;
		position: relative;
		right: 50%;
		width: 100vw;
		height: 500px;
		padding-bottom: 20px;
	}

	.hero-text-wrap {
		width: 100%;
		left: 50%;
		right: 50%;
	}

	.hero-text-wrap p {
		text-align: center;
		color: white;
		font-size: 4vw;
		margin: 0;
		padding: 175px;
		line-height: initial;
	}

	.small-hero-text {
		font-size: 1.5vw !important;
		padding-top: 20px !important;
		padding-bottom: 20px !important;
		line-height: initial;
	}

	#footer-lockup {
		padding: 15px 10px;
		max-width: 25%;
	}

	#footer-address {
		float: right;
		padding: 15px;
	}
		/* Timeline */
	.timeline {
	  border-left: 4px solid var(--rose);
	  position: relative;
	  line-height: 1.4em;
	  padding: 50px;
	  list-style: none;
	  text-align: left;
	}
	.timeline .event {
	  padding-bottom: 25px;
	  margin-bottom: 25px;
	  position: relative;
	}
	.timeline .event:last-of-type {
	  padding-bottom: 0;
	  margin-bottom: 0;
	  border: none;
	}
	.timeline .event:before,
	.timeline .event:after {
	  position: absolute;
	  display: block;
	  top: 0;
	}
	.timeline .event:before {
	  left: -217.5px;
	  content: attr(data-date);
	  text-align: right;
	  font-weight: bold;
	  min-width: 120px;
	}
	.timeline .event:after {
	  box-shadow: 0 0 0 4px var(--rose);
	  left: -57.85px;
	  background: var(--rose);
	  border-radius: 50%;
	  height: 11px;
	  width: 11px;
	  content: "";
	  top: 5px;
	}

	.featured-artwork {
		width: 26%;
		display: inline-block;
		vertical-align: top;
		padding:15px;
		background-color: var(--powder);
		margin: 0 1% 1% 0;
	}
}

/* Larger than desktop */
@media (min-width: 1000px) {

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {

}
